name: PR Checks
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches: 
      - '*'

jobs:
  test:
    name: Run tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Test
        run: ./gradlew :rssparser:check

      - name: (Fail-only) Bundle test reports
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: (Fail-only) Upload the build report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: error-report
          path: build-reports.zip


  build-android-multiplatform-sample:
    name: Build Android Multiplatform Sample
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build Android Sample
        run: ./gradlew :samples:multiplatform:androidApp:assembleRelease

  build-android-sample:
    name: Build Android Sample
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build Android Sample
        run: ./gradlew :samples:android:assembleRelease

  build-android-java-sample:
    name: Build Android Java Sample
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build Android Sample
        run: ./gradlew :samples:java:assembleRelease

  build-desktop-app:
    name: Build Desktop App
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build Desktop App
        run: ./gradlew :samples:multiplatform:desktopApp:packageDistributionForCurrentOS

  build-ios-sample:
    name: Build iOS Sample
    runs-on: macos-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.1

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version           

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build iOS Sample
        run: set -o pipefail && xcodebuild -project samples/multiplatform/iosApp/iosApp.xcodeproj -configuration Debug -scheme iosApp -sdk iphoneos -destination name='iPhone 16 Pro' build | xcbeautify --renderer github-actions

  build-macos-sample:
    name: Build macOS Sample
    runs-on: macos-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.1

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version       

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build macOS Sample
        run: set -o pipefail && xcodebuild -project samples/multiplatform/iosApp/iosApp.xcodeproj -configuration Debug -scheme iosApp -destination 'platform=macOS,arch=arm64' CODE_SIGNING_ALLOWED=NO build | xcbeautify --renderer github-actions

  build-tvos-sample:
    name: Build tvOS Sample
    runs-on: macos-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.1

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version           

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build tvOS Sample
        run: set -o pipefail && xcodebuild -project samples/multiplatform/iosApp/iosApp.xcodeproj -configuration Debug -scheme 'iosApp' -destination 'platform=tvOS Simulator,name=Apple TV' build | xcbeautify --renderer github-actions


  build-watchOS-sample:
    name: Build watchOS Sample
    runs-on: macos-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version   

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.1

      - name: Xcode version
        run: |
          /usr/bin/xcodebuild -version           

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build watchOS Sample
        run: set -o pipefail && xcodebuild -project samples/multiplatform/iosApp/iosApp.xcodeproj -scheme 'RssParserDemo Watch App' -destination "platform=watchOS Simulator,name=Apple Watch Series 9 (41mm),OS=10.4" -configuration Debug CODE_SIGNING_ALLOWED=NO build | xcbeautify --renderer github-actions

  build-wasm-sample:
    name: Build Wasm Sample
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-home-cache-cleanup: true

      - name: Cache KMP tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
          key: ${{ runner.os }}-v1-${{ hashFiles('**/libs.versions.toml') }}

      - name: Build Wasm Sample
        run: ./gradlew :samples:multiplatform:webApp:wasmJsBrowserDistribution